# dependencies
node_modules/

# package manager
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# build outputs
.next/
out/
build/
dist/
public/videos/

# coverage and reports
coverage/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example

# tooling caches
.turbo/
.cache/

# vercel
.vercel/

# typescript
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
Thumbs.db
*.pem
manim/media/videos/jercol_animations/720p30/partial_movie_files/PipelineIngestaInferencia/partial_movie_file_list.txt
manim/media/videos/jercol_animations/720p30/partial_movie_files/ReposoInfraestructura/partial_movie_file_list.txt
manim/media/videos/jercol_animations/720p30/consolidacion_mutacion.mp4
manim/media/videos/jercol_animations/720p30/ConsolidacionMutacion.mp4
manim/media/videos/jercol_animations/720p30/MitigacionAutonomaFallback.mp4
manim/media/videos/jercol_animations/720p30/PipelineIngestaInferencia.mp4
manim/media/videos/jercol_animations/720p30/reposo_infraestructura.mp4
manim/media/videos/jercol_animations/720p30/ReposoInfraestructura.mp4
manim/media/videos/jercol_animations/720p30/partial_movie_files/ConsolidacionMutacion/514567154_4087399354_247466715.mp4
manim/media/videos/jercol_animations/720p30/partial_movie_files/ConsolidacionMutacion/2289422911_67502762_3616925243.mp4
manim/media/videos/jercol_animations/720p30/partial_movie_files/ConsolidacionMutacion/partial_movie_file_list.txt
manim/media/videos/jercol_animations/720p30/partial_movie_files/MitigacionAutonomaFallback/514567154_105577978_4024810797.mp4
manim/media/videos/jercol_animations/720p30/partial_movie_files/MitigacionAutonomaFallback/514567154_1439620204_3644283308.mp4
manim/media/videos/jercol_animations/720p30/partial_movie_files/MitigacionAutonomaFallback/514567154_3711646129_1127245326.mp4
manim/media/videos/jercol_animations/720p30/partial_movie_files/MitigacionAutonomaFallback/2289422911_167035969_204885583.mp4
manim/media/videos/jercol_animations/720p30/partial_movie_files/MitigacionAutonomaFallback/partial_movie_file_list.txt
manim/media/videos/jercol_animations/720p30/partial_movie_files/PipelineIngestaInferencia/514567154_1138392188_2067195330.mp4
manim/media/videos/jercol_animations/720p30/partial_movie_files/PipelineIngestaInferencia/514567154_2851797870_2887463591.mp4
manim/media/videos/jercol_animations/720p30/partial_movie_files/PipelineIngestaInferencia/514567154_3356572224_2105067000.mp4
manim/media/videos/jercol_animations/720p30/partial_movie_files/PipelineIngestaInferencia/2289422911_318105850_1388530056.mp4
manim/media/videos/jercol_animations/720p30/partial_movie_files/ReposoInfraestructura/2289422911_1206957815_545938520.mp4
manim/media/videos/jercol_animations/720p30/partial_movie_files/ReposoInfraestructura/2289422911_4170567368_545938520.mp4
